<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>奖项申报</title>

    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">

    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/main.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        奖项申报
                    </a>
                </div>

                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="#">
                                <img class="img-rounded" src="${STATIC_URL}images/qq.png" id="avatar">
                                <span id="nick">admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li>
                    <a href="/">
                        <i class="fa fa-gear"></i>首页
                    </a>
                </li>
                <li class="has_submenu current open" id="personal_center">
                    <a href="javascript:;">
                        <i class="fa fa-wrench"></i>个人中心
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="current active">
                            <a href="${SITE_URL}personal_center/my_apply/">我的申报<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li id="my_review">
                            <a href="${SITE_URL}personal_center/my_review/">我的审核<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="has_submenu" id="system_management">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>系统管理
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="${SITE_URL}system_management/organization_management/">组织管理<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="${SITE_URL}system_management/award_management/">奖项信息<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="last has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-h"></i>其他
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="blank.html">空白<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="king-main-container">
        <div class="container-fluid">
            <div class="row mt20">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">奖项详情</h3>
                        </div>
                        <div class="table-group">
                            <table class="table table-out-bordered table-header-bg table-hover">
                                <thead>
                                <tr>
                                    <th>奖项名称</th>
                                    <th>${name}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>参评要求</td>
                                    <td>${requirement}</td>
                                </tr>
                                <tr>
                                    <td>审核人</td>
                                    <td>${reviewers}</td>
                                </tr>
                                <tr>
                                    <td>状态</td>
                                    <td>${status}</td>
                                </tr>
                                <tr>
                                    <td>奖项级别</td>
                                    <td>${level}</td>
                                </tr>
                                <tr>
                                    <td>所属组织</td>
                                    <td>${organization_name}</td>
                                </tr>
                                <tr>
                                    <td>开始日期</td>
                                    <td>${begin_time}</td>
                                </tr>
                                <tr>
                                    <td>结束日期</td>
                                    <td>${end_time}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">申报详情</h3>
                        </div>
                        <div class="tab-pane fade king-block-content active in container-fluid">
                            <div class="col-sm-10">
                                <from class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputCount1" class="control-label">申报人/团队：</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputCount1" placeholder=""
                                                   value="${apply_obj.applicant}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCount2" class="control-label">事迹介绍：</label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" id="inputCount2" placeholder=""
                                                      readonly="readonly" rows=10 style="resize:none">
                                                ${apply_obj.introduction}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">附件：</label>
                                        <div class="col-sm-12">
                                             % if apply_obj.appendix:
                                            <a href="${apply_obj.appendix.get_url()}">${apply_obj.appendix.name}</a>
                                            % else:
                                            无
                                            % endif
                                        </div>
                                    </div>
                                    % if apply_obj.get_status_display()=="已获奖" or apply_obj.get_status_display()=="未获奖":
                                    <div class="form-group">
                                        <label class="control-label">评审结果：</label>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control"
                                                   value="${apply_obj.get_status_display()}"
                                                   readonly="readonly" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputCount2" class="control-label">评语：</label>
                                        <div class="col-sm-12">
                                            <textarea class="form-control" id="inputCount3" placeholder=""
                                                      readonly="readonly" rows=4 style="resize:none">
                                                ${apply_obj.remark}</textarea>
                                        </div>
                                    </div>
                                    % endif
                                </from>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a class="king-btn king-default" title="取消"
                               href="${SITE_URL}personal_center/my_apply/">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>

<script src="${STATIC_URL}js/index.js?v=${STATIC_VERSION}"></script>

<script type="text/javascript">
    function Commit_apply() {
        var applicant = $("#inputCount1").val();
        var introduction = $("#inputCount2").val();
        var data = {
            id: ${id},
            applicant: applicant,
            introduction: introduction
        };
        $.ajax({
            type: "POST",
            url: "/personal_center/add_apply/",
            data: JSON.stringify(data),
            headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
            success: function (result) {
                alert("申报成功！");
                window.location.assign("${SITE_URL}personal_center/my_apply/");
            }
        })
    }
</script>
</body>

</html>