<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>奖项申报</title>

    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">

    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/main.css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        奖项申报
                    </a>
                </div>

                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="#">
                                <img class="img-rounded" src="${STATIC_URL}images/qq.png">
                                <span>admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li>
                    <a href="/">
                        <i class="fa fa-gear"></i>首页
                    </a>
                </li>
                <li class="has_submenu current open">
                    <a href="javascript:;">
                        <i class="fa fa-wrench"></i>个人中心
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="current active">
                            <a href="${SITE_URL}personal_center/my_apply/">我的申报<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="${SITE_URL}personal_center/my_review/">我的审核<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>系统管理
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="${SITE_URL}system_management/organization_management/">组织管理<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="${SITE_URL}system_management/award_management/">奖项信息<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="last has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-h"></i>其他
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="blank.html">空白<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="king-main-container">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">我的申报</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>所属单位</th>
                            <th>申报奖项</th>
                            <th>奖项状态</th>
                            <th>申报人/团队</th>
                            <th>申报状态</th>
                            <th>申报时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        % if apply_list:
                        % for award in apply_list:
                        <tr>
                            <td>${award.organization}</td>
                            <td>${award.name}</td>
                            <td>${award.get_status_display()}</td>
                            <td></td>
                            <td>未申报</td>
                            <td></td>
                            <td><a href="${SITE_URL}personal_center/applying/${award.id}">申报</a></td>
                        </tr>
                        % endfor
                        % endif
                        % if applyed_list:
                        % for apply in applyed_list:
                        <tr>
                            <td>${apply.award.organization}</td>
                            <td>${apply.award}</td>
                            <td>${apply.award.get_status_display()}</td>
                            <td>${apply.applicant}</td>
                            <td>${apply.get_status_display()}</td>
                            <td>${apply.pub_time}</td>
                            % if apply.get_status_display()=="审核中":
                            <td>
                                <button class="btn btn-xs btn-primary"
                                        onclick="location='${SITE_URL}personal_center/applying/${apply.award.id}'">编辑
                                </button>
                            </td>
                            % elif apply.get_status_display()=="未通过":
                            <td>
                                <button class="btn btn-xs btn-primary"
                                        onclick="location='${SITE_URL}personal_center/applying/${apply.award.id}'">编辑
                                </button>
                                <button class="btn btn-xs btn-primary"
                                        onclick="location='${SITE_URL}personal_center/applying/${apply.award.id}'">重新申请
                                </button>
                            </td>
                            % else:
                            <td>
                                <button class="btn btn-xs btn-primary"
                                        onclick="location='${SITE_URL}personal_center/get_review_info/${apply.id}'">查看
                                </button>
                            </td>
                            % endif
                        </tr>
                        % endfor
                        % endif
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>

<script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>

<script src="${STATIC_URL}js/index.js"></script>


</body>

</html>