<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>awarding</title>

    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap_noresponsive.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/main.css" rel="stylesheet">

</head>

<body>
<div class="wrap">
    <!-- 头部 -->
    <header>
        <div class="navbar navbar-black">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <i class="fa fa-leaf"></i>
                        奖项申报
                    </a>
                </div>

                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="#">
                                <img class="img-rounded" src="${STATIC_URL}images/qq.png">
                                <span>admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 -->

    <!-- 侧边栏 -->
    <div class="king-vertical-nav4">
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="current active">
                    <a href="/">
                        <i class="fa fa-gear"></i>首页
                    </a>
                </li>
                <li class="has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-wrench"></i>个人中心
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="${SITE_URL}personal_center/my_apply/">我的申报<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="${SITE_URL}personal_center/my_review/">我的审核<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="has_submenu current open">
                    <a href="javascript:;">
                        <i class="fa fa-tasks"></i>系统管理
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="active">
                            <a href="${SITE_URL}system_management/organization_management/">组织管理<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="${SITE_URL}system_management/award_management/">奖项信息<i
                                    class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="last has_submenu">
                    <a href="javascript:;">
                        <i class="fa fa-ellipsis-h"></i>其他
                        <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="blank.html">空白<i class="fa fa-chevron-right pull-right"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="king-main-container">
        <div class="container-fluid">
            <div class="panel panel-default pannel-overflow panel-tables">
                <div class="panel-heading">
                    <i class="fa fa-list-ul"></i>组织管理
                </div>
                <div class="panel-btns">
                    <a class="king-btn king-radius king-primary" title="新增组织" id="plugin4">新增组织</a>
                    <!--<a class="king-btn king-radius king-default" title="数据导入">数据导入</a>-->
                    <!--<a class="king-btn king-radius king-default" title="数据导出">数据导出</a>-->
                </div>
                <div class="panel-body panel-search-body">

                    <div class="panel-content">
                        % if org_list:
                        <table class="table table-out-bordered table-header-bg table-hover" id="table_demo2">
                            <thead>
                            <tr>
                                <th style="width: 25px"><input type="checkbox" name="checkall" value=""></th>
                                <th style="width:10%">所属组织</th>
                                <th style="width:10%">负责人</th>
                                <th style="width:25%">参评人员</th>
                                <th style="width:10%">更新人</th>
                                <th style="width:15%">申报时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            % for org in org_list:
                            <tr>
                                <td><input type="checkbox" value=""></td>
                                <td>${org['name']}</td>
                                <td>${org['reviewers']}</td>
                                <td>${org['members']}</td>
                                <td>${org['update_person']}</td>
                                <td>${org['pub_time']}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" onclick="Update(${ org['id'] })">
                                        <i class="glyphicon glyphicon-edit"></i></button>
                                    <button class="btn btn-xs btn-danger" onclick="Delete(${ org['id'] })"><i
                                            class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            % endfor
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td colspan="7">
                                    <div class="pull-left">
                                        <a class="king-btn king-radius king-danger" id="deleteAll" title="删除">删除</a>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                        % endif
                    </div>
                </div>
            </div>
        </div>

        <div id="dialog1" class="panel-body p20" display=none>
            <div class="row mt20">
                <div class="col-lg-8">
                    <from class="form-horizontal">
                        <div class="form-group">
                            <label for="inputCount3" class="control-label">所属组织：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCount1" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCount3" class="control-label">负责人员：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCount2" placeholder="">
                                <p class="help-block">负责人员qq,用;分隔</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCount3" class="control-label">参评人员：</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputCount3" placeholder=""></textarea>
                                <p class="help-block">参评人员qq,用;分隔</p>
                            </div>
                        </div>
                    </from>
                </div>
            </div>
        </div>
        <div id="dialog2" class="panel-body p20" display=none>
            <div class="row mt20">
                <div class="col-lg-8">
                    <from class="form-horizontal">

                        <div class="form-group">
                            <label for="inputCount3" class="control-label">所属组织：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCount4" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCount3" class="control-label">负责人员：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputCount5" placeholder="">
                                <p class="help-block">负责人员qq,用;分隔</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCount3" class="control-label">参评人员：</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputCount6" placeholder=""></textarea>
                                <p class="help-block">参评人员qq,用;分隔</p>
                            </div>
                        </div>

                    </from>
                </div>
            </div>
        </div>
</div>
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
<script src="${STATIC_URL}js/index.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#table_demo2').find('input[name="checkall"]').click(function() {
                var checked = $(this).prop('checked');
                $('#table_demo2>tbody input').prop('checked', checked);
            });
            $('#table_demo2').find(':checkbox').on('click', function() {
                if (!this.checked) {
                    $('#table_demo2').find('input[name="checkall"]').prop('checked', false);
                }
            });
            $('#table_demo2').find('.glyphicon-remove').parent('button').click(function() {
                if (confirm('确定要删除？')) {
                    $(this).closest('tr').remove();
                }
            });
            $('#deleteAll').click(function(event) {
                var records = $('#table_demo2>tbody input:checked').closest('tr');
                if (!records.length) {
                    alert('请选择要删除的记录！');
                    return false;
                }
                if (confirm('确定要删除？')) {
                    records.remove();
                }
            });
        });
        //带按钮弹窗
        $("#plugin4").click(function () {
            var d = dialog({
                width: 450,
                title: '新增组织',
                content: document.getElementById('dialog1'),
                okValue: '保存',
                ok: function () {
                    console.log(arguments)
                    // do something
                    var name = $("#inputCount1").val();
                    var reviewers = $("#inputCount2").val();
                    var members = $("#inputCount3").val();
                    var result = {
                        name: name,
                        reviewers: reviewers,
                        members: members
                    };
                    $.ajax({
                        type: "POST",
                        url: "/system_management/add_organization/",
                        data: JSON.stringify(result),
                        headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
                        success: function (result) {
                            alert("保存成功！")
                            console.log(result)
                            window.location.reload()
                        }
                    });
                },
                cancelValue: '取消',
                cancel: function () {
                    console.log(arguments)
                    // do something

                },
                onshow: function () {
                    console.log(arguments)
                    // do something
                },
            });
            d.show();
        });

        function Delete(id) {
            var data = {
                'id': id
            }
            $.ajax({
                type: "POST",
                url: "/system_management/delete_organization/",
                data: JSON.stringify(data),
                headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
                success: function (result) {
                    alert("删除成功！")
                    window.location.reload()
                }
            })
        }

        function Update(id) {
            var data = {
                'id': id
            };
            $.ajax({
                type: "POST",
                url: "/system_management/get_organization/",
                data: JSON.stringify(data),
                headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
                success: function (res) {
                    console.log(res.data);
                    document.getElementById("inputCount1").value = res.data.name;
                    document.getElementById("inputCount2").value = res.data.reviewers;
                    document.getElementById("inputCount3").value = res.data.members;
                    var d = dialog({
                        width: 450,
                        title: '查看/编辑',
                        content: document.getElementById('dialog1'),
                        okValue: '保存',
                        ok: function () {
                            console.log(arguments)
                            // do something
                            var name = $("#inputCount1").val();
                            var reviewers = $("#inputCount2").val();
                            var members = $("#inputCount3").val();
                            var result = {
                                id: res.data.id,
                                name: name,
                                reviewers: reviewers,
                                members: members
                            };
                            $.ajax({
                                type: "POST",
                                url: "/system_management/update_organization/",
                                async: false,
                                data: JSON.stringify(result),
                                headers: {"X-CSRFToken": $.cookie('csrftoken')},// 从Cookie取csrf_token，并设置ajax请求头
                                success: function (result) {
                                    alert("保存成功！")
                                    console.log(result)
                                    window.location.reload()
                                }
                            });
                        },
                        cancelValue: '取消',
                        cancel: function () {
                            console.log(arguments)
                            // do something

                        },
                        onshow: function () {
                            console.log(arguments)
                            // do something
                        },
                    });
                    d.show();
                }

            })
        }

</script>
</body>

</html>